$gray-dark: #696969;
$gray: #999999;
$gray-light: #cccccc; 
.content {
  padding: 16px;

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .card {
      width: 20vw;
      display: flex;
      margin: 5vh 1.5vw 0vh 1.5vw;
      justify-content: flex-start;
      flex-direction: column;
      background-color: white;
      border-radius: 0.25rem;
      box-shadow: 0 20px 40px -14px rgb(0 0 0 / 25%);
      overflow: hidden;
      flex-direction: column-reverse;
        .card-title {
          color: $gray-dark;
          font-size: 1.25rem;
          font-weight: 300;
          letter-spacing: 2px;
          text-transform: uppercase;
        }
        .card-text {
          flex: 1 1 auto;
          font-size: 0.875rem;
          line-height: 1.5;
          margin-bottom :1.25rem;
        } 
    }
  }
  .search-input{
    width: 30vw;
    height: 4vh;
    border-radius: 5px;
    border: 1px solid $gray-light;
    box-shadow: 0 20px 40px -14px rgb(0 0 0 / 25%);
    margin-left: 4vw;
    color: $gray;
    font-size: large;
    padding-left: 10px;
  }
}
