
<h1>Search People</h1>
<div class="content">
  <div class="search"> 
    <input type="text" class="search-input" (input)="onSearchChange($event.target.value)" />
  </div>
  <div class="cards" cdkDropList (cdkDropListDropped)="dropped($event)">
    <div class="card" *ngFor="let person of people" cdkDrag>
      <mat-card class="card-content" >
        <mat-card-header>
          <mat-card-title class="card-title">{{ person.name }}</mat-card-title>
        </mat-card-header>

        <mat-card-content class="card-text">
          <p>
            URL: {{ person.url }}
          </p>
          <p>
            Height: {{ person.height }}
          </p>
          <p>
            Home World: {{ person.homeworld }}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class='no-result' *ngIf="filterText&&people.length == 0"> No results found </div>
</div>
