$gray-darker: #444444;
$gray-dark: #696969;
$gray: #999999;
$gray-light: #cccccc;
$gray-lighter: #ececec;
$gray-lightest: lighten($gray-lighter,4%);

.content {
  padding: 16px;

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .card {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      background-color: white;
      border-radius: 0.25rem;
      box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
      overflow: hidden;
        .card-title {
          color: $gray-dark;
          font-size: 1.25rem;
          font-weight: 300;
          letter-spacing: 2px;
          text-transform: uppercase;
        }
        .card-text {
          flex: 1 1 auto;
          font-size: 0.875rem;
          line-height: 1.5;
          margin-bottom :1.25rem;
        } 
    }
  }
}
